---
import readingTime from "reading-time";

interface Props {
  id: string;
  data: {
    title: string;
    description: string;
    date: Date;
    tags: string[];
  };
  body?: string;
  showDesc?: boolean;
}

const {
  id,
  data: { title, description, date, tags },
  body,
  showDesc = true,
} = Astro.props;

const readTime = body && readingTime(body).text;
const dateIso = date.toISOString().split("T")[0];
---

<li class="post-entry">
  <a class="title" href={`/posts/${id}`}>{title}</a>
  <span class="less-relevant">
    <time datetime={date.toISOString()}>{dateIso}</time> - {readTime}
  </span>
  <span class="tags">
    tags: {
      tags.map((tag: string) => <a href={`/tag/${tag}`}>{tag}</a>) || "none :("
    }
  </span>
  {showDesc && <p class="desc">{description}</p>}
</li>

<style>
  .post-entry {
    display: flex;
    flex-direction: column;
    padding-block-end: 4px;
    margin-block-end: 1rem;
  }

  .title {
    font-size: 18px;
  }

  .less-relevant {
    font-size: 14px;
    font-style: italic;
  }

  .desc {
    margin-block-end: 3px;
  }

  .tags {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;

    a {
      color: var(--text-color);
    }
  }
</style>
