---
import readingTime from "reading-time";

const {
  slug,
  data: { title, description, date },
  body,
} = Astro.props;

const readTime = readingTime(body).text;
const dateIso = date.toISOString().split("T")[0];
---

<li class="post-entry">
  <a href={`/posts/${slug}`}>{title}</a>
  <span class="less-relevant">
    <time datetime={date.toISOString()}>{dateIso}</time> - {readTime}
  </span>
  <p>{description}</p>
</li>

<style>
  .post-entry {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: 18px;
  }

  .less-relevant {
    font-size: 14px;
    font-style: italic;
  }

  p {
    margin-block-end: 3px;
  }
</style>
