---
import PageLayout from "./PageLayout.astro";

interface Props {
  title: string;
  date: Date;
  description: string;
  tags: string[];
}

const { title, date, description, tags } = Astro.props;

const dateISO = date.toISOString().split("T")[0];
---

<PageLayout {title} {description}>
  <Fragment slot="header">
    <span>{description}</span>
    <br />
    <span class="info">
      Published on {dateISO} - tags: {
        tags.map((tag) => <a href={`/tag/${tag}`}>{tag}</a>)
      }
    </span>
  </Fragment>

  <article>
    <slot />
  </article>
</PageLayout>

<style>
  .info {
    font-size: 14px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }
</style>
