---
import PageLayout from "./PageLayout.astro";

const { title, date, description, tags } = Astro.props;

const dateISO = date.toISOString().split("T")[0];
---

<PageLayout {title} {description}>
  <Fragment slot="header">
    <span>{description}</span>
    <br />
    <span class="info">
      Published on {dateISO} - tags: {
        tags.map((tag: string) => (
          <>
            <a href={`/tag/${tag}`}>{tag}</a>&nbsp;
          </>
        ))
      }
    </span>
  </Fragment>

  <article>
    <slot />
  </article>
</PageLayout>

<style>
  .info {
    font-size: 14px;
    font-style: italic;
  }
</style>
