---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "welcome to my website!" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="og:title" content={title} />
    <meta name="og:type" content="website" />
    <meta
      name="og:image"
      content="https://avatars.githubusercontent.com/u/61147779?v=4"
    />
    <meta name="og:url" content={Astro.url} />
    <meta name="og:description" content={description} />
    <meta name="theme-color" content="#c6a0f6" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="https://mc-heads.net/avatar/uku3lig/32"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
  </head>
  <body>
    <Navigation />

    <header>
      <div class="container">
        <h1>{title}</h1>
        <slot name="header" />
      </div>
    </header>

    <main class="container">
      <slot />
    </main>

    <Footer />
  </body>
</html>
